<template>
  <v-container id="top" v-if="player != undefined">
    <v-card class="mb-5">
      <v-card-text>
        <v-list-item two-line>
          <v-list-item-content>
            <v-list-item-title class="headline mb-1">{{player.nombre}}</v-list-item-title>
            <v-list-item-subtitle>{{player.apodo}}</v-list-item-subtitle>
          </v-list-item-content>
          <v-list-item-avatar tile size="120">
            <img :src="player.imagen" />
          </v-list-item-avatar>
        </v-list-item>
      </v-card-text>
      <v-card-text class="text-center">
        <p>{{player.desc}}</p>
        <small></small>
      </v-card-text>
      <v-card-text>
        <v-flex xs12>
          <v-card color="blue" class="white--text mb-3" width="100%">
            <v-layout row wrap>
              <v-flex xs6 class="text-center title">Posición</v-flex>
              <v-flex xs6 class="text-center title">Total</v-flex>
              <v-flex xs6 class="text-center subtitle">#{{getRank()}}</v-flex>
              <v-flex xs6 class="text-center subtitle">{{player.total}}</v-flex>
            </v-layout>
          </v-card>
        </v-flex>
        <v-layout row wrap class="stats">
          <v-flex xs2 class="text-center text--primary">Partidos</v-flex>
          <v-flex xs2 class="text-center text--primary">Aciertos</v-flex>
          <v-flex xs2 class="text-center text--primary">Errores</v-flex>
          <v-flex xs3 class="text-center text--primary">Media Aciertos</v-flex>
          <v-flex xs3 class="text-center text--primary">Media Errores</v-flex>
          <v-flex xs2 class="text-center">{{player.partidos.length}}</v-flex>
          <v-flex
            xs2
            class="text-center"
          >{{player.partidos.map(p => Number(p.puntos)).reduce((a,b) => a+b,0)}}</v-flex>
          <v-flex
            xs2
            class="text-center"
          >{{player.partidos.map(p => Number(p.fallos)).reduce((a,b) => a+b,0)}}</v-flex>
          <v-flex
            xs3
            class="text-center"
          >{{(player.partidos.map(p => Number(p.puntos)).reduce((a,b) => a+b,0) / player.partidos.length).toFixed(1)}}</v-flex>
          <v-flex
            xs3
            class="text-center"
          >{{(player.partidos.map(p => Number(p.fallos)).reduce((a,b) => a+b,0) / player.partidos.length).toFixed(1)}}</v-flex>
        </v-layout>
      </v-card-text>
    </v-card>

    <v-card class="mx-auto mb-4 text-center">
      <canvas id="aciertos" width="400" height="250"></canvas>
    </v-card>
    <v-card class="mx-auto mb-4 text-center">
      <canvas id="fallos" width="400" height="250"></canvas>
    </v-card>

    <v-btn color="red" dark fixed bottom right fab @click="$router.go(-1)">
      <v-icon>mdi-arrow-left</v-icon>
    </v-btn>
  </v-container>
  <v-container v-else id="top">
    <v-card height="200px">
      <v-layout row wrap class="justify-center">
        <v-flex xs12 class="text-center">
          <v-card-text>Este jugador aún no tiene partidos</v-card-text>
        </v-flex>
      </v-layout>
    </v-card>
    <v-btn color="red" dark fixed bottom right fab @click="$router.go(-1)">
      <v-icon>mdi-arrow-left</v-icon>
    </v-btn>
  </v-container>
</template>

<script>
import Chart from "chart.js";

export default {
  props: ["name"],
  methods: {
    getRank() {
      let rank = [...this.$store.getters.getData]
        .sort((a, b) => (a.total > b.total ? -1 : b.total > a.total ? 1 : 0))
        .map(p => p.nombre);

      return rank.indexOf(this.name) + 1;
    }
  },
  computed: {
    player() {
      return this.$store.getters.getData.find(p => p.nombre == this.name);
    }
  },
  mounted() {
    let mediaAciertos =
      this.player.partidos
        .map(p => Number(p.puntos))
        .reduce((a, b) => a + b, 0) / this.player.partidos.length;
    let mediaFallos =
      this.player.partidos
        .map(p => Number(p.fallos))
        .reduce((a, b) => a + b, 0) / this.player.partidos.length;
    var ctx = document.getElementById("aciertos").getContext("2d");
    var ctx2 = document.getElementById("fallos").getContext("2d");
    var myChart = new Chart(ctx, {
      type: "bar",
      data: {
        labels: this.player.partidos.map(p => p.fecha),
        datasets: [
          {
            label: "Aciertos",
            data: this.player.partidos.map(p => Number(p.puntos)),
            backgroundColor: this.player.partidos.map(
              p => "rgba(56, 245, 103, 0.2)"
            ),
            borderColor: this.player.partidos.map(p => "rgba(56, 245, 103)"),
            borderWidth: 1
          },
          {
            label: "Media",
            type: "line",
            data: this.player.partidos.map(p => mediaAciertos),
            backgroundColor: ["rgba(53, 75, 242, 0)"],
            borderColor: ["rgba(53, 75, 242)"],
            borderWidth: 2
          }
        ]
      },
      options: {
        scales: {
          yAxes: [
            {
              ticks: {
                beginAtZero: true
              }
            }
          ]
        }
      }
    });

    var myChart2 = new Chart(ctx2, {
      type: "bar",
      data: {
        labels: this.player.partidos.map(p => p.fecha),
        datasets: [
          {
            label: "Fallos",
            data: this.player.partidos.map(p => Number(p.fallos)),
            backgroundColor: this.player.partidos.map(
              p => "rgba(255, 0, 0, 0.2)"
            ),
            borderColor: this.player.partidos.map(p => "rgba(255, 0, 0)"),
            borderWidth: 1
          },
          {
            label: "Media",
            display: false,
            type: "line",
            data: this.player.partidos.map(p => mediaFallos),
            backgroundColor: ["rgba(53, 75, 242, 0)"],
            borderColor: ["rgba(53, 75, 242)"],
            borderWidth: 2
          }
        ]
      },
      options: {
        scales: {
          yAxes: [
            {
              ticks: {
                beginAtZero: true
              }
            }
          ]
        }
      }
    });
  }
};
</script>

<style scoped>
.stats {
  font-size: 10px;
}
</style>
