<template>
  <v-container id="top" v-if="players">
    <v-layout row class="text-center">
      <v-flex xs12 class="text-center">
        <h1>Selecciona</h1>
      </v-flex>
    </v-layout>
    <v-layout row class="align-center">
      <v-flex xs12 md6 class="text-center">
        <v-btn dark large width="200" color="blue ma-8" to="/match">Añadir Partido</v-btn>
      </v-flex>

      <v-flex xs12 md6 class="text-center">
        <v-btn dark large width="200" color="blue ma-8" to="/player">Añadir Jugador</v-btn>
      </v-flex>
    </v-layout>
    <v-btn color="red" dark fixed bottom right fab @click="$router.go(-1)">
      <v-icon>mdi-arrow-left</v-icon>
    </v-btn>
  </v-container>
</template>

<script>
import firebase from "firebase";

export default {
  data() {
    return {
      date: "",
      valid: true,
      menu: false,
      partido: {
        fecha: "",
        stats: [
          { jugador: "", fallos: "", puntos: "" },
          { jugador: "", fallos: "", puntos: "" },
          { jugador: "", fallos: "", puntos: "" },
          { jugador: "", fallos: "", puntos: "" }
        ]
      }
    };
  },

  methods: {
    validate() {
      if (this.$refs.form.validate()) {
        this.snackbar = true;
        this.enviarPartido();
      }
    },
    enviarPartido() {
      firebase
        .database()
        .ref("partidos")
        .push(this.partido);
    },
    formatDate(date) {
      if (!date) return null;

      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year.substr(2)}`;
    }
  },
  computed: {
    players() {
      return this.$store.getters.getData;
    }
    // selectedPlayers() {
    //   return this.partido.stats.map(s => s.jugador).filter(n => n != "");
    // },
    // nonSelectedPLayers() {
    //   return this.players
    //     .map(p => p.nombre)
    //     .filter(p => !this.selectedPlayers.includes(p));
    // }
  },
  watch: {
    date(val) {
      this.partido.fecha = this.formatDate(this.date);
    }
  }
};
</script>

<style scoped>
#top {
  margin-top: 60px;
}
</style>
