<template>
  <v-container id="top" v-if="data">
    <v-layout row>
      <v-flex xs12 class="text-center">
        <h1>Clasificación</h1>
      </v-flex>
    </v-layout>
    <v-layout row class="d-flex justify-center">
      <v-data-table
        :mobile-breakpoint="100"
        :headers="headers"
        :items="partidosFinales"
        hide-default-footer
        class="elevation-1 small"
        item-key="id"
        :items-per-page="30"
        :sort-by.sync="sortBy"
        :sort-desc="true"
      ></v-data-table>
    </v-layout>
    <v-btn color="red" dark fixed bottom right fab @click="$router.go(-1)">
      <v-icon>mdi-arrow-left</v-icon>
    </v-btn>
  </v-container>
</template>

<script>
import { mapState } from "vuex";
export default {
  data() {
    return {
      sortBy: "total2",
      headers: [
        { text: "Nombre", value: "nombre" },
        { text: "PJ", value: "partidos.length" },
        { text: "G", value: "ganados" },
        { text: "Puntos", value: "total2" },
        { text: "M", value: "media" },
      ],
    };
  },
  name: "clasificacion",
  methods: {
    mediaPuntos(p) {
      if (p.total || p.partidos.length)
        return (Number(p.total2) / Number(p.partidos.length)).toFixed(1);
      else return 0;
    },
  },
  computed: {
    ...mapState(["data"]),
    partidosFinales() {
      return this.data.map((p) => ({ ...p, media: this.mediaPuntos(p) }));
    },
  },
};
</script>

<style scoped>
.stats {
  font-size: 10px;
}
#top {
  margin-top: 60px;
  margin-bottom: 100px;
}
.v-card {
  box-shadow: 0 !important;
}
.v-expansion-panel-header {
  padding: 0 !important;
}
.v-tabs-items {
  background-color: transparent !important;
}
.small * {
  font-size: 10px;
}
</style>
