<template>
  <v-container id="top" v-if="players">
    <v-layout row>
      <v-flex xs12 class="text-center">
        <h1>Añadir Partido</h1>
      </v-flex>
    </v-layout>
    <v-form ref="form" v-model="valid" lazy-validation>
      <v-card class="mb-5">
        <v-card class="mb-5 pa-2">
          <v-dialog
            v-model="menu"
            :close-on-content-click="false"
            :nudge-right="40"
            transition="scale-transition"
            offset-y
            min-width="290px"
          >
            <template v-slot:activator="{ on }">
              <v-text-field
                v-model="date"
                :rules="[v => !!v || 'Es necesario una fecha']"
                label="Fecha del partido"
                prepend-icon="mdi-calendar"
                readonly
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker
              v-model="date"
              @input="menu = false"
              locale="es-es"
              first-day-of-week="1"
            ></v-date-picker>
          </v-dialog>
        </v-card>
        <v-container>
          <v-row>
            <v-col cols="12" md="4">
              <v-select
                :rules="[v => !!v || 'Selecciona un Jugador']"
                v-model="partido.stats[0].jugador"
                :items="players.map(p=> p.nombre)"
                label="Jugador 1"
                data-vv-name="select"
                required
              ></v-select>
            </v-col>

            <v-col cols="6" md="4">
              <v-text-field
                type="number"
                :rules="[v => !!v || 'Valor necesario']"
                v-model="partido.stats[0].puntos"
                label="Puntos"
                required
              ></v-text-field>
            </v-col>

            <v-col cols="6" md="4">
              <v-text-field
                type="number"
                :rules="[v => !!v || 'Valor necesario']"
                v-model="partido.stats[0].fallos"
                label="Fallos"
                required
              ></v-text-field>
            </v-col>

            <v-col cols="6" md="4">
              <v-checkbox v-model="partido.stats[0].winner" label="Ganador"></v-checkbox>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
      <v-card class="mb-5">
        <v-container>
          <v-row>
            <v-col cols="12" md="4">
              <v-select
                :rules="[v => !!v || 'Selecciona un Jugador']"
                v-model="partido.stats[1].jugador"
                :items="players.map(p=> p.nombre)"
                label="Jugador 2"
                data-vv-name="select"
                required
              ></v-select>
            </v-col>

            <v-col cols="6" md="4">
              <v-text-field
                type="number"
                :rules="[v => !!v || 'Valor necesario']"
                v-model="partido.stats[1].puntos"
                label="Puntos"
                required
              ></v-text-field>
            </v-col>

            <v-col cols="6" md="4">
              <v-text-field
                type="number"
                :rules="[v => !!v || 'Valor necesario']"
                v-model="partido.stats[1].fallos"
                label="Fallos"
                required
              ></v-text-field>
            </v-col>

            <v-col cols="6" md="4">
              <v-checkbox v-model="partido.stats[1].winner" label="Ganador"></v-checkbox>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
      <v-card class="mb-5">
        <v-container>
          <v-row>
            <v-col cols="12" md="4">
              <v-select
                :rules="[v => !!v || 'Selecciona un Jugador']"
                v-model="partido.stats[2].jugador"
                :items="players.map(p=> p.nombre)"
                label="Jugador 3"
                data-vv-name="select"
                required
              ></v-select>
            </v-col>

            <v-col cols="6" md="4">
              <v-text-field
                type="number"
                :rules="[v => !!v || 'Valor necesario']"
                v-model="partido.stats[2].puntos"
                label="Puntos"
                required
              ></v-text-field>
            </v-col>

            <v-col cols="6" md="4">
              <v-text-field
                type="number"
                :rules="[v => !!v || 'Valor necesario']"
                v-model="partido.stats[2].fallos"
                label="Fallos"
                required
              ></v-text-field>
            </v-col>

            <v-col cols="6" md="4">
              <v-checkbox v-model="partido.stats[2].winner" label="Ganador"></v-checkbox>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
      <v-card class="mb-5">
        <v-container>
          <v-row>
            <v-col cols="12" md="4">
              <v-select
                :rules="[v => !!v || 'Selecciona un Jugador']"
                v-model="partido.stats[3].jugador"
                :items="players.map(p=> p.nombre)"
                label="Jugador 4"
                data-vv-name="select"
                required
              ></v-select>
            </v-col>

            <v-col cols="6" md="4">
              <v-text-field
                type="number"
                :rules="[v => !!v || 'Valor necesario']"
                v-model="partido.stats[3].puntos"
                label="Puntos"
                required
              ></v-text-field>
            </v-col>

            <v-col cols="6" md="4">
              <v-text-field
                type="number"
                :rules="[v => !!v || 'Valor necesario']"
                v-model="partido.stats[3].fallos"
                label="Fallos"
                required
              ></v-text-field>
            </v-col>

            <v-col cols="6" md="4">
              <v-checkbox v-model="partido.stats[3].winner" label="Ganador"></v-checkbox>
            </v-col>
          </v-row>
        </v-container>
        <v-container class="text-center">
          <v-btn :disabled="!valid" color="success" class="mr-4" @click="validate">Enviar Partido</v-btn>
        </v-container>
      </v-card>
    </v-form>
  </v-container>
</template>

<script>
import firebase from "firebase";

export default {
  data() {
    return {
      date: "",
      ganador: false,
      valid: true,
      menu: false,
      partido: {
        fecha: "",
        stats: [
          { jugador: "", fallos: "", puntos: "" },
          { jugador: "", fallos: "", puntos: "" },
          { jugador: "", fallos: "", puntos: "" },
          { jugador: "", fallos: "", puntos: "" }
        ]
      }
    };
  },

  methods: {
    validate() {
      if (this.$refs.form.validate()) {
        this.snackbar = true;
        this.enviarPartido();
      }
    },
    enviarPartido() {
      firebase
        .database()
        .ref("partidos")
        .push(this.partido)
        .then(() => {
          alert("Partidaco añadido");
          this.$router.push("/rankingJ");
        });
    },
    formatDate(date) {
      if (!date) return null;

      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year.substr(2)}`;
    }
  },
  computed: {
    players() {
      return this.$store.getters.getData;
    }
    // selectedPlayers() {
    //   return this.partido.stats.map(s => s.jugador).filter(n => n != "");
    // },
    // nonSelectedPLayers() {
    //   return this.players
    //     .map(p => p.nombre)
    //     .filter(p => !this.selectedPlayers.includes(p));
    // }
  },
  watch: {
    date(val) {
      this.partido.fecha = this.formatDate(this.date);
    }
  }
};
</script>

<style scoped>
#top {
  margin-top: 60px;
}
</style>
