<template>
  <v-container id="top">
    <v-row class="justify-center">
      <v-card min-width="90%" raised="raised">
        <v-card-title>
          <v-icon color="secondary" left="left">mdi-account-box</v-icon>
          <span>Crear Jugador</span>
        </v-card-title>
        <v-card-text>
          <v-text-field prepend-icon="mdi-alphabetical" v-model="jugador.nombre" label="Nombre"></v-text-field>
          <v-text-field prepend-icon="mdi-alphabetical" v-model="jugador.apodo" label="Apodo"></v-text-field>
          <v-textarea prepend-icon="mdi-alphabetical" v-model="jugador.desc" label="Descripción"></v-textarea>
          <v-file-input
            class="my-4"
            v-model="selectedFile"
            accept="image/png, image/jpeg"
            label="Imagen"
            placeholder="Selecciona una imagen"
            :show-size="1024"
            @change="setupCropper"
          ></v-file-input>
          <v-row v-if="objectUrl">
            <v-col class="text-center" cols="12" sm="6">
              <div class="overline">Original</div>
              <div class="image-container elevation-4">
                <img class="image-preview" ref="source" :src="objectUrl" />
              </div>
              <div class="d-flex justify-center">
                <v-btn icon="icon" small="small" @click="resetCropper">
                  <v-icon small="small">mdi-aspect-ratio</v-icon>
                </v-btn>
                <div class="mx-2"></div>
                <v-btn icon="icon" small="small" @click="rotateLeft">
                  <v-icon small="small">mdi-rotate-left</v-icon>
                </v-btn>
                <v-btn icon="icon" small="small" @click="rotateRight">
                  <v-icon small="small">mdi-rotate-right</v-icon>
                </v-btn>
              </div>
            </v-col>
            <v-col class="text-center" cols="12" sm="6">
              <div class="overline">Como quedará</div>
              <div class="image-container elevation-4">
                <img class="image-preview" :src="previewCropped" />
              </div>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" :disabled="!objectUrl" @click="submitFormData">
            <v-icon left="left">mdi-send</v-icon>
            <span>Guardar</span>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-row>
  </v-container>
</template>

<script>
import firebase from "firebase";
import Cropper from "cropperjs";
import debounce from "lodash/debounce";

export default {
  data() {
    return {
      jugador: {
        nombre: "",
        desc: "",
        apodo: ""
      },
      imageURL: null,
      image: null,
      cropper: null,
      objectUrl: null,
      previewCropped: null,
      selectedFile: null,
      debouncedUpdatePreview: debounce(this.updatePreview, 257)
    };
  },

  methods: {
    submitFormData() {
      const canvas = this.cropper.getCroppedCanvas();

      canvas.toBlob(async blob => {
        const formData = new FormData();

        formData.append("my-avatar-file", blob, "avatar.png");

        let fileReader = new FileReader();
        fileReader.addEventListener("load", () => {
          this.imageURL = fileReader.result;
        });
        fileReader.readAsDataURL(formData.entries().next().value[1]);
        this.image = formData.entries().next().value[1];

        let storage = await firebase
          .storage()
          .ref("fotos/" + this.jugador.nombre + ".png");
        let image = await storage.put(this.image);
        let url = storage
          .getDownloadURL()
          .then(url => {
            this.imageURL = url;
            firebase
              .database()
              .ref("jugadores")
              .push({
                imagen: this.imageURL,
                nombre: this.jugador.nombre,
                desc: this.jugador.desc,
                apodo: this.jugador.apodo
              });
          })
          .catch(err => console.log(err));
      });
    },
    resetCropper() {
      this.cropper.reset();
    },
    rotateLeft() {
      this.cropper.rotate(-90);
    },
    rotateRight() {
      this.cropper.rotate(90);
    },
    setupCropper(selectedFile) {
      if (this.cropper) {
        this.cropper.destroy();
      }

      if (this.objectUrl) {
        window.URL.revokeObjectURL(this.objectUrl);
      }

      if (!selectedFile) {
        this.cropper = null;
        this.objectUrl = null;
        this.previewCropped = null;
        return;
      }

      this.objectUrl = window.URL.createObjectURL(selectedFile);
      this.$nextTick(this.setupCropperInstance);
    },
    setupCropperInstance() {
      this.cropper = new Cropper(this.$refs.source, {
        aspectRatio: 1,
        crop: this.debouncedUpdatePreview
      });
    },
    updatePreview(event) {
      const canvas = this.cropper.getCroppedCanvas();
      this.previewCropped = canvas.toDataURL("image/png");
    }
  }
};
</script>

<style lang="sass" scoped>
.image-container
  display: inline-block

.image-preview
  display: block
  max-height: 229px
  max-width: 100%
</style>

<style>
@import "../../node_modules/cropperjs/dist/cropper.css";
</style>
