<template>
  <v-container id="top" v-if="data">
    <v-layout row>
      <v-flex xs12 class="text-center">
        <h1>Ranking Jugador</h1>
      </v-flex>
    </v-layout>
    <v-layout row>
      <v-tabs v-model="tab" background-color="transparent" dark centered>
        <v-tabs-slider></v-tabs-slider>

        <v-tab href="#tab-1">Media Puntos</v-tab>
        <!-- <v-tab href="#tab-2">Por Puntos</v-tab> -->
        <v-tab href="#tab-3">Media Fallos</v-tab>

        <v-tab-item value="tab-1" background-color="transparent" class="mt-4">
          <v-card
            class="mx-auto mb-3"
            elevation="4"
            width="90%"
            v-for="(player, i) in sortedData"
            :color="colors[i]"
            :key="player.nombre"
          >
            <v-list-item three-line>
              <v-list-item-content>
                <div class="overline mb-4">
                  <v-chip v-if="i == 0" class="ma-2" color="orange dark" text-color="white">
                    <v-avatar left>
                      <v-icon>mdi-star</v-icon>
                    </v-avatar>Alunizante
                  </v-chip>
                  <v-chip v-if="i == 1" class="ma-2" color="orange dark" text-color="white">
                    <v-avatar left>
                      <v-icon>mdi-star</v-icon>
                    </v-avatar>Incredíbile
                  </v-chip>
                  <v-chip v-if="i == 2" class="ma-2" color="orange dark" text-color="white">
                    <v-avatar left>
                      <v-icon>mdi-star</v-icon>
                    </v-avatar>Espermático
                  </v-chip>
                  <v-chip
                    v-else-if="i > 2"
                    class="ma-2"
                    color="orange dark"
                    text-color="white"
                  >#{{i+1}}</v-chip>
                </div>
                <v-list-item-title class="headline mb-1">{{player.nombre}}</v-list-item-title>
                <v-list-item-subtitle>{{player.apodo}}</v-list-item-subtitle>
              </v-list-item-content>

              <v-list-item-avatar size="80">
                <img :src="player.imagen" />
              </v-list-item-avatar>
            </v-list-item>

            <v-card-actions>
              <v-btn text color="white">{{porPartido(player).toFixed(2)}} p</v-btn>
              <v-flex xs3 class="text-center stats">
                Total:
                <b>{{player.total}}</b>
              </v-flex>
              <v-flex xs3 class="text-center stats">
                Partidos:
                <b>{{player.partidos.length}}</b>
              </v-flex>
              <v-spacer></v-spacer>
              <v-btn dark color="blue" :to="'/about/' + player.nombre">
                <v-icon>mdi-plus</v-icon>Info
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-tab-item>
        <v-tab-item value="tab-2" background-color="transparent" class="mt-4">
          <v-card
            class="mx-auto mb-3"
            elevation="4"
            width="90%"
            v-for="(player, i) in sortedData2"
            :color="colors[i]"
            :key="player.nombre"
          >
            <v-list-item three-line>
              <v-list-item-content>
                <div class="overline mb-4">
                  <v-chip v-if="i == 0" class="ma-2" color="orange dark" text-color="white">
                    <v-avatar left>
                      <v-icon>mdi-star</v-icon>
                    </v-avatar>
                    Fucking #{{i+1}}
                  </v-chip>
                  <v-chip v-else class="ma-2" color="orange dark" text-color="white">#{{i+1}}</v-chip>
                </div>
                <v-list-item-title class="headline mb-1">{{player.nombre}}</v-list-item-title>
                <v-list-item-subtitle>{{player.apodo}}</v-list-item-subtitle>
              </v-list-item-content>

              <v-list-item-avatar size="80">
                <img :src="player.imagen" />
              </v-list-item-avatar>
            </v-list-item>

            <v-card-actions>
              <v-btn text color="white">{{player.total}} p</v-btn>
              <v-flex xs3 class="text-center stats">
                Media:
                <b>{{porPartido(player).toFixed(2)}}</b>
              </v-flex>
              <v-flex xs3 class="text-center stats">
                Partidos:
                <b>{{player.partidos.length}}</b>
              </v-flex>
              <v-spacer></v-spacer>
              <v-btn dark color="blue" :to="'/about/' + player.nombre">
                <v-icon>mdi-plus</v-icon>Info
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-tab-item>
        <v-tab-item value="tab-3" background-color="transparent" class="mt-4">
          <v-card
            class="mx-auto mb-3"
            elevation="4"
            width="90%"
            v-for="(player, i) in sortedData3"
            :color="colors[i]"
            :key="player.nombre"
          >
            <v-list-item three-line>
              <v-list-item-content>
                <div class="overline mb-4">
                  <v-chip v-if="i == 0" class="ma-2" color="orange dark" text-color="white">
                    <v-avatar left>
                      <v-icon>mdi-star</v-icon>
                    </v-avatar>Bochornoso
                  </v-chip>
                  <v-chip v-if="i == 1" class="ma-2" color="orange dark" text-color="white">
                    <v-avatar left>
                      <v-icon>mdi-star</v-icon>
                    </v-avatar>Denunciable
                  </v-chip>
                  <v-chip v-if="i == 2" class="ma-2" color="orange dark" text-color="white">
                    <v-avatar left>
                      <v-icon>mdi-star</v-icon>
                    </v-avatar>Penoso
                  </v-chip>
                  <v-chip
                    v-else-if="i > 2"
                    class="ma-2"
                    color="orange dark"
                    text-color="white"
                  >#{{i+1}}</v-chip>
                </div>
                <v-list-item-title class="headline mb-1">{{player.nombre}}</v-list-item-title>
                <v-list-item-subtitle>{{player.apodo}}</v-list-item-subtitle>
              </v-list-item-content>

              <v-list-item-avatar size="80">
                <img :src="player.imagen" />
              </v-list-item-avatar>
            </v-list-item>

            <v-card-actions>
              <v-btn text color="white">{{porPartidoFallos(player).toFixed(2)}}f</v-btn>
              <v-flex xs3 class="text-center stats">
                Total:
                <b>{{player.totalFallos}}</b>
              </v-flex>
              <v-flex xs3 class="text-center stats">
                Partidos:
                <b>{{player.partidos.length}}</b>
              </v-flex>
              <v-spacer></v-spacer>
              <v-btn dark color="blue" :to="'/about/' + player.nombre">
                <v-icon>mdi-plus</v-icon>Info
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-tab-item>
      </v-tabs>
    </v-layout>
    <v-btn color="red" dark fixed bottom right fab @click="$router.go(-1)">
      <v-icon>mdi-arrow-left</v-icon>
    </v-btn>
  </v-container>
</template>

<script>
import { mapState } from "vuex";
export default {
  data() {
    return {
      tab: null,
      colors: [
        "red accent-3",
        "red accent-2",
        "red accent-1",
        "grey lighten-1",
        "grey lighten-1",
        "grey lighten-1",
        "grey lighten-1",
        "grey lighten-1",
        "grey lighten-1",
        "grey lighten-1",
        "grey lighten-1",
        "grey lighten-1",
        "grey lighten-1",
        "grey lighten-1",
        "grey lighten-1",
        "grey lighten-1",
        "grey lighten-1",
        "grey lighten-1",
        "grey lighten-1",
        "grey lighten-1"
      ]
    };
  },
  name: "ranking",
  methods: {
    sortedPartidos(partidos) {
      return partidos.sort((a, b) =>
        a.fecha > b.fecha ? 1 : b.fecha > a.fecha ? -1 : 0
      );
    },
    porPartido(player) {
      return player.partidos.length ? player.total / player.partidos.length : 0;
    },
    porPartidoFallos(player) {
      return player.partidos.length
        ? player.totalFallos / player.partidos.length
        : 0;
    }
  },
  computed: {
    ...mapState(["data"]),
    sortedData() {
      return [...this.data].sort((a, b) =>
        this.porPartido(a) > this.porPartido(b)
          ? -1
          : this.porPartido(b) > this.porPartido(a)
          ? 1
          : 0
      );
    },
    sortedData2() {
      return [...this.data].sort((a, b) =>
        a.total > b.total ? -1 : b.total > a.total ? 1 : 0
      );
    },
    sortedData3() {
      return [...this.data].sort((a, b) =>
        this.porPartidoFallos(a) > this.porPartidoFallos(b)
          ? -1
          : this.porPartidoFallos(b) > this.porPartidoFallos(a)
          ? 1
          : 0
      );
    }
  }
};
</script>

<style>
.stats {
  font-size: 10px;
}
#top {
  margin-top: 60px;
  margin-bottom: 100px;
}
.v-card {
  box-shadow: 0 !important;
}
.v-expansion-panel-header {
  padding: 0 !important;
}
.v-tabs-items {
  background-color: transparent !important;
}
</style>
