<template>
  <v-app class="main">
    <v-app-bar app color="primary" dark>
      <div class="d-flex align-center">
        <v-btn small icon to="/">
          <v-icon>mdi-home</v-icon>
        </v-btn>
        <span class="pl-2">Monguer Padel v.1.6</span>
      </div>

      <v-spacer></v-spacer>
      <v-btn color="blue" to="/admin">2020</v-btn>
    </v-app-bar>
    <router-view>
      <v-content></v-content>
    </router-view>
  </v-app>
</template>

<script>
export default {
  name: "App",

  data: () => ({
    //
  }),
};
</script>

<style>
.v-application--wrap {
  background: #0d316e;
}

h1 {
  color: white;
}
</style>
